


/* Md.Khademul Islam */

.h_top{
   background-color: #F6F6F8;
  
}
.header-text i{
    color: #878787;
}

.parent_left{
    padding: 5px 0px;
}


.header-text span{
    color: #878787;
    font-size: 13px;
}
#header-text_a a{
    text-decoration: none;
    color: #878787;
}
#header-text_a a:hover{
    color:#62D2E3;
}

.header-text-mid p{
    margin: 0;
    color:#878787 ;
    font-size: 13px;
    padding: 9px 0px;
}

.language_convert select{
    border: none;
}

.language_convert option {
    border: none;
}

.btn_text_color{
    color: #878787;
    font-size: 14px;
}

